* {
    box-sizing: border-box;
  }

  html {
    font-family:'Poppins', sans-serif;
    font-weight: 100;
}
  
  a {
    transition: all 0.1s ease-in-out;
  }
  
  .group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  
  * html .group {
    zoom: 1;
  }
  
  /* IE6 */
  *:first-child + html .group {
    zoom: 1;
  }
  

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 32px;
  }
  
  h1 {
    /* font: 700 100px; */
    font-family:"Poppins", sans-serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.017em;
    line-height: 1.25em;
    padding-top: 16px;
    margin-bottom: 24px;
    color: #424242;
  }
  
  h2 {
    margin-top: 88px;
    font-family:"Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 1.25em;
    color: #424242;
  }
  
  h3 {
    font-family:"Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5em;
    color: #424242;
  }

  h4 {
    font-family:"Poppins", sans-serif;
    font-size: 28px;
    font-weight: 300;
    font: 300 32px;
    line-height: 1.5em;
    color: #424242;
  }
  
  h5 {
    font-family:"Poppins", sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    color: #424242;
}

h6 {
  font-family:"Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #424242;
}

  a {
    text-decoration: none;
    color: #424242;
  }
  
  p {
    font-size: 20px;
    line-height: 1.4545454545em;
    color: #757575;
    font-weight: 100;
  }
  
  header {
    align-items: center;
    /* display: flex; */
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
  }
  header .logo {
    font: 700 26px;
    color: #DBBD7F;
    padding: 5px;
    line-height: 1.5em;
  }
  header .site-name {
    color: #424242;
  }
  header .contact-link {
    float: right;
    width: 130px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 5 00;
    font-size: 16px;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    color: #424242;
    align-items: right;
    text-align: right;
    
  }
  header .contact-link:hover {
    color: #DBBD7F;
  }

  .sameline{
    display: flex;
  }

  .alignRight{
    float:right
  }
  

  .landing {
    position: relative;
}
.landingWrapper {
    
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
}
.landingL {
    margin-top: 20px;
}


  
  @keyframes small-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes blink {
    0% {
      opacity: 0.3;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.3;
    }
  }
  @keyframes blink-alt {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.3;
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .main-banner {
    background-size: cover;
    background-position: center;
    padding: 28px 6.395348837% 28px;
    
    /* 88/1376 */
    position: relative;
   
  }
  
  .main-banner .main-banner-content {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    /* border: #DBBD7F solid 5px; */
    /* max-width: 600px; */
    position: relative;
    z-index: 10;
  }
  .main-banner .main-banner-content h1 { 
    line-height: 1.2727272727em;
    margin-bottom: 24px;
  }
  .main-banner .main-banner-content h4 {
    margin: 0 auto 24px auto;
    /* width: 93.33333333%; */
    /* 560/672 */
  }
  

  
  
  @keyframes big-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  
   .star {
    position: absolute;
    z-index: 1;
  }
  .star .star-1 {
    left: 40%;
    top: 7%;
    animation: blink 2s ease-in-out infinite;
  }
  .star .star-2 {
    right: 37%;
    top: 19%;
    animation: blink-alt 3s ease-in-out infinite;
  }
  .star .star-3 {
    left: 30%;
    transform: rotate(45deg);
    top: 24%;
    animation: blink-alt 4s ease-in-out infinite;
  }
  .star .star-4 {
    right: 28%;
    top: 27%;
    transform: rotate(25deg);
    animation: blink 2.5s ease-in-out infinite;
  }
  .star.star-5 {
    left: 28%;
    bottom: 20%;
    transform: rotate(45deg);
    animation: blink-alt 3.5s ease-in-out infinite;
  }
  .star.star-6 {
    right: 26%;
    bottom: 18%;
    transform: rotate(25deg);
    animation: blink-alt 2s ease-in-out infinite;
  }
  .star .star-7 {
    left: 8%;
    bottom: 10%;
    animation: blink 4s ease-in-out infinite;
  }
  .star .star-8 {
    bottom: 10%;
    right: 5%;
    animation: blink 3s ease-in-out infinite;
  }
  
  .star .star-9 {
    animation: blink 4s ease-in-out infinite;
    left: 15%;
    top: 6%;
  }
  .star .star-10 {
    animation: blink-alt 3s ease-in-out infinite;
    right: 8%;
    top: 12%;
  }

  .recent-posts {
    /* background: url(img/recent-posts@2x.jpg) no-repeat; */
    margin-top: 100px;
    background-size: cover;
    color: #424242;
    
    padding: 0px 10.395348837% 2.395348837% 10.395348837%;
    /* 56/1376 */
    /* 88/1376 */
    position: relative;
  }
  
  
  .recent-posts-header {
    /* background: url(img/recent-posts@2x.jpg) no-repeat; */
    background-size: cover;
    color: #424242;
    /* 56/1376 */
    /* 88/1376 */
    position: relative;
    
  }

  .recent-posts-header h1 {
    margin: 24px 0 16px 0;
  }

  


  .posts-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .posts-container svg#owltastic-images {
    visibility: hidden;
  }
  .posts-container img {
    display: block;
    opacity: 0.95;
    transition: all 0.1s ease-in-out;
    width: 100%;
    border-radius: 15px;
  }
  .posts-container li {
    align-self: stretch;
    margin: 0 0 88px 0;
    position: relative;
    width: 46.51898734%;
    
    /* 588/1264 */
  }
  .posts-container li h3 {
    text-transform: uppercase;
    margin: 16px 0 8px 0;
    text-align: center;
  }
  


  .posts-container li a:hover span {
    transition: all 0.1s ease-in-out;
    color: #214261;
  }
  .posts-container li a:hover img {
    opacity: 1;
    filter: none;
  }

  @keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(16.0deg) }
    20% { transform: rotate(-6.0deg) }
    30% { transform: rotate(16.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(16.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }

  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }


/*-----Work 01-----*/
.work {
  width: 100%;
  position: relative;
  
  /* margin-bottom: 15em; */
}


.work > .workText {
  position: absolute;
  top: 85px;
}


.work > .workBg .workImg{
  float: right;
  scale: 105%;
  -webkit-box-shadow: 0px 3px 20px 0px #c2c2c2;
  -moz-box-shadow: 0px 3px 20px 0px #c2c2c2;
  /* box-shadow: 0px 3px 100px 0px #ededed; */
}

.work > .workBg .workImgFilter{
  float: right;
  scale: 105%;
  filter:  grayscale(100%) opacity(30%);
  -webkit-box-shadow: 0px 3px 20px 0px #c2c2c2;
  -moz-box-shadow: 0px 3px 20px 0px #c2c2c2;
  /* box-shadow: 0px 3px 100px 0px #ededed; */
}

.work > .workBg .centered {
  position: absolute;
  top: 45%;
  left:50%;
  text-align: center;
  /* padding:2px 20px; */
  /* color:#214261 */
  /* background-color: rgba(255,255,255,0.8); */
  transform: translate(-50%, -50%);
  font-family:"Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color:#0069A8;
}



.work > .workBg .explnTxt {
  position: absolute;
  top: 55%;
  left:50%;
  text-align: center;
  /* padding:2px 20px; */
  /* color:#214261 */
  /* background-color: rgba(255,255,255,0.8); */
  transform: translate(-50%, -50%);
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:#0069A8;
}


#myBtn {
  /* display: inline-block; */
  display: none;
  position: fixed;
  /* bottom: 10%; */
  bottom:10%;
  right: 5%;
  background-color: Transparent;
  border: none;
  font-family: popp;
}
.container {div
  position: relative;
}
/*----------onHoverChangeImg----------------*/
/* .work > .workBg img:last-child {display: none}

.work > .workBg:hover img:first-child {display: none}
.work > .workBg:hover img:last-child {display: inline-block} */

.work > .workBg img:nth-child(2) {display: none}
.work > .workBg div:nth-child(3) {display: none}
.work > .workBg div:nth-child(4) {display: none}

.work > .workBg:hover img:nth-child(1) {display: none}
.work > .workBg:hover img:nth-child(2) {display: inline-block}
.work > .workBg:hover div:nth-child(3) {display: inline-block}
.work > .workBg:hover div:nth-child(4) {display: inline-block}

  .recent-posts-header {
    margin-bottom: 56px;
    text-align: center;
  }
  .recent-posts-header p {
    margin: 24px auto;
    width: 92%;
  }
  .recent-posts-header p a {
    border-bottom: 1px solid #DBBD7F;
    display: inline-block;
    margin-top: 32px;
    text-transform: uppercase;
    font: 400 16px;
    letter-spacing: 0.075em;
    line-height: 1.5em;
  }
  .recent-posts-header p a:hover {
    border-bottom: 1px solid #424242;
    color: #424242;
  }
  

  
  
  

  
/*  */
  
  @media all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
    .select select {
      padding-right: 0;
    }
    .select:after, .select:before {
      display: none;
    }
  }
  footer {
    
    background-size: 100%;
    color: #424242;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 12px 6.395348837% 12px;
    /* 88/1376 */
  }
  footer h2 {
    height: 100%;
  }
  
  footer p {
    text-transform: uppercase;
    font: 400 16px;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    flex-shrink: 0;
    font-size: 16px;
    text-align: right;
  }
  
  
  
  
  
  
  .recent-posts-header.blog-posts-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .recent-posts-header.blog-posts-header .blog-follow-links,
  .recent-posts-header.blog-posts-header h1,
  .recent-posts-header.blog-posts-header .blog-search {
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .recent-posts-header .blog-follow-links {
    justify-content: flex-start;
    display: flex;
  }
  .recent-posts-header .blog-follow-links li {
    align-self: flex-start;
  }
  .recent-posts-header .blog-follow-links a {
    background: #DBBD7F;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 16px;
    padding: 8px;
    width: 40px;
  }
  .recent-posts-header .blog-follow-links a:hover {
    background: #424242;
  }
  .recent-posts-header .blog-follow-links img {
    display: inline-block;
    max-height: 20px;
    max-width: 20px;
  }
  .recent-posts-header .blog-follow-links .rss-icon {
    max-height: 16px;
  }
  
  
  .button.all-posts {
    background: #DBBD7F;
    display: block;
    margin: 32px auto 64px auto;
  }
  .button.all-posts:hover {
    background: #424242;
  }
  
  @media only screen and (max-width: 1280px) {
    .contact-form .wpforms-field.wpforms-field-select,
  .contact-form .wpforms-field.wpforms-one-half.source-field {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1150px) {
    .about-me h1 br {
      display: none;
    }
  
  
    .recent-posts-header p {
      width: 75%;
    }
  
    .contact-form .input-group {
      display: block;
    }
    .contact-form .input-group .half {
      width: 100%;
    }
    .contact-form .input-group .half:last-of-type {
      margin: 32px 0 0 0;
    }
  
    .contact-form .wpforms-field.wpforms-one-half {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .main-banner .main-banner-content {
      max-width: 600px;
    }
    .main-banner .main-banner-content h1 {
      font-size: 36px;
    }
  
    .about-me {
      /*display: block;*/
    }
    .about-me .description-container {
      /*display: block;*/
      padding: 40px 6.39535% 64px 6.39535%;
      width: 70%;
    }
    .about-me .portrait {
      width: 30%;
    }
  
    .posts-container {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .posts-container li {
      margin: 32px auto;
      max-width: 600px;
      width: 100%;
    }
  
  }
  


  /*-----Global-----*/

.pink {
  color: #F48FB1;
}
.blue {
  color: #039BE5;
}
.green {
  color: #AED581;
}

/*----Nav-----*/
.nav {
  display: flex;
  align-items: center;
  height: 100px;
}
.name {
  flex: 1;
  margin-top: 5px;
}
.navItems {
  text-align: right;
  overflow: hidden;
  margin-top: 15px;
}
.navItems a, .name a {
  display: inline-block;
  vertical-align: middle;
  color: #424242;
}
.navItems a {
  margin-left: 40px;
  text-decoration: none;
}
.navItems .icon {
  display: none;
}
.name a {
  text-decoration: none;
}

/* jump to top */
/* #myBtn {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 5%;
}

@media screen and (max-width: 960px) {
  body {
      width: 90%;
  }
  .nav {
      display: block;
  }
  .name {
      display: none;
  }
  .landingL {
      text-align: left;
  }
} */
/* 
@media screen and (max-width: 680px) {
  .navItems a {display: none;}
  .navItems a.icon {
      display: block;
  }
}

@media screen and (max-width: 680px) {
  .navItems.responsive {position: relative;}
  .navItems.responsive .navItems .icon {
      right: 0;
      top: 0;
  }
  .navItems.responsive a {
      display: block;
  }
  .navItems {
      text-align: center;
      margin-right: 10%;
      margin-top: 5%;
  }
} */

/*-----Landing-----*/


table {
  border-collapse: collapse;
  width: 100%;
  height: 50px;
  text-align: left;
}

th{
  font-size: 20px;
  margin-top: 10px;
  color: #424242;
}

td{
  font-size: 20px;
  margin-top: 10px;
  color: #757575;
}





.scroll {
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;

}


/*-------about page-------*/
.profileImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.content {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .content {
      margin-left: 0;
      margin-right: 0;
  }
}

.mailto {
  text-decoration: none;
  color: #757575;
}
.mailto:hover {
  color: #039BE5;
}

.workTxt:hover{
  color: #039BE5;
}

.abtText:hover{
  color: #F48FB1;
}

.resumeText:hover {
  color: #AED581;
}

.blogText:hover {
  color: #FFCC4D;
}

.linkText {
  text-decoration: none;
  color: #F48FB1;
}

/*-----contentPage---------*/
.contentWrapper {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contentImg {
  width: 100%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.contentImgLg {
  text-align: center;
}

.contentImgRot {
  width: 30%;
  display: inline-block;
  float: left;
  transform: rotate(90deg);
  margin-top: 5%;
  margin-bottom: 10%;
}

.contentImgMulti {
  width: 50%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}
.contentGif {
  display: block;
  margin: 20px auto;
  width: 50%;
  text-align: center;
  border-radius: 28px;
}

/* Photo Gallery */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryImg {
  margin: 5px;
  /*transition: all 2s;*/
}
/*.galleryImg:hover{*/
  /*transform: scale(1.1);*/
/*}*/

  
  
    footer,
  footer p {
      display: block;
      text-align: center;
      margin-left: 15%;
    margin-right: 15%;
    }
  
    .follow-footer ul {
      margin: 0 auto;
      padding: 0;
      justify-content: center;
    }
  
    footer h2 {
      margin-bottom: 32px;
    }
    footer p br {
      display: none;
    }
  
    /* Blog styles */
    .main-banner.condensed-header header {
      display: block;
      padding-bottom: 16px;
    }
    .main-banner.condensed-header h1 {
      margin-bottom: 0;
    }
  
    .latest-article-inner {
      display: block;
      padding: 6.96203%;
    }
    .latest-article-inner .description, .latest-article-inner img {
      width: 100%;
    }
    .latest-article-inner .description {
      margin-bottom: 6.96203%;
      text-align: center;
    }
    .latest-article-inner .button {
      margin: 0 auto;
    }
  
    .recent-posts-header.blog-posts-header {
      display: block;
      margin-bottom: 16px;
    }
    .recent-posts-header .blog-follow-links {
      justify-content: center;
      margin-bottom: 16px;
    }
    .recent-posts-header .blog-search input {
      float: none;
      margin: 0 auto;
    }
  
    .instaplusnewsletter {
      display: block;
    }
  
    .latest-insta,
  .newsletter-signup {
      width: 100%;
    }
  
    .latest-insta {
      margin-bottom: 32px;
    }
  }
  @media only screen and (max-width: 500px) {
    body {
      padding: 16px;
    }
  
    .button {
      font-size: 16px;
      padding: 12px 16px;
    }
  
    .main-banner .main-banner-content h1,
  .about-me h1,
  .recent-posts-header h1,
  h1 {
      font-size: 28px;
    }
  
    .main-banner .main-banner-content p,
  .about-me p,
  .recent-posts-header p,
  p,
  .design-talks .events h4 {
      font-size: 18px;
    }
  
    .recent-posts-header a,
  .contact-link,
  .recent-posts li span,
  h3,
  .design-talks .events strong,
  header .contact-link,
  footer p,
  .contact-form label,
  .social li a {
      font-size: 14px;
    }
  
    .recent-posts h2,
  .social .featured-text p,
  header h1,
  footer h2 {
      font-size: 22px;
    }
  
    .recent-posts li a {
      padding: 24px 24px 72px 24px;
    }
  
    .recent-posts li p {
      font-size: 16px;
    }
  
    .recent-posts li span {
      padding: 16px;
    }
  
    .main-banner {
      padding: 16px 32px 48px 32px;
    }
    .main-banner .main-banner-content p {
      font-size: 18px;
      margin-bottom: 40px;
      width: 100%;
    }
  
    header {
      display: block;
      margin-bottom: 32px;
    }
    header h1 {
      margin-bottom: 12px;
    }
    header .logo-container {
      display: block;
      margin: 0 auto 16px auto;
    }
    header .contact-link {
      padding: 50px;
    
    }

    
  
  }

  .footerIcons a{
    padding-top: 5em;
    margin-bottom: 100px;
    margin: 10px;
}

  
  /*# sourceMappingURL=style.css.map */
  