* {
    box-sizing: border-box;
  }

  html {
    font-family:'Poppins', sans-serif;
    font-weight: 100;
}
  
  a {
    transition: all 0.1s ease-in-out;
  }
  
  
  

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 12% 0 12%;;
    
  }
  
  h1 {
    font-family:"Poppins", sans-serif;
    font-weight: 700;
    padding-top: 16px;
    margin-bottom: 24px;
    color: #424242;
  }

  h2 {
    margin-top: 88px;
    font-family:"Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: #424242;
  }
  
  h3 {
    font-family:"Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.5em;
    color: #424242;
  }

  h4 {
    font-family:"Poppins", sans-serif;
    font-weight: 300;
    font: 300 32px;
    line-height: 1.5em;
    color: #424242;
  }
  
  h5 {
    font-family:"Poppins", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    color: #424242;
}

h6 {
  font-family:"Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #424242;
}

  a {
    text-decoration: none;
    color: #424242;
  }
  
  p {
    font-family:"Poppins", sans-serif;
    color: #757575;
    font-weight: 200;
  }

  
  
  
@media screen and (min-width: 1024px) {
  h1 {font-size: 40px;}
  h2 {font-size: 36px;}
  h3 {font-size: 32px;}
  h4 {font-size: 28px;}
  h5 {font-size: 23px;}
  p {font-size: 22px;}
 }
 
 @media (min-width: 426px) and (max-width: 1023px) {
  h1 {font-size: 32px;}
  h2 {font-size: 28px;}
  h3 {font-size: 26px;}
  h4 {font-size: 24px;}
  h5 {font-size: 20px;}
  p {font-size: 18px;}
  body {padding: 0px 8% 0 8%;}
  }
 
 
   @media screen and (max-width: 425px) {
    h1 {font-size: 24px;}
    h2 {font-size: 2px;}
    h3 {font-size: 22px;}
    h4 {font-size: 20px;}
    h5 {font-size: 18px;}
    p {font-size: 16px;}
    body {padding: 0px 2% 0 2%;}
     }
   
  
  header {
    align-items: center;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
  }
  

  header .contact-link {
    float: right;
    width: 130px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    color: #424242;
    align-items: right;
    text-align: right;
    
  }
  header .contact-link:hover {color:#D9472A ; }

  .sameline{
    display: flex;
  }

  .alignRight{
    float:right
  }
  




  


  .landing {
    position: relative;
  }
 
  .landingL {
      margin-top: 20px;
  }
  .main-banner {
    background-size: cover;
    background-position: center;
    position: relative;

  }
  
  .main-banner .main-banner-content {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-top: 32px;
    /* border: #DBBD7F solid 5px; */
    /* max-width: 600px; */
    position: relative;
    z-index: 10;
  }
  .main-banner .main-banner-content h1 { 
    margin-bottom: 24px;
  }

  


  .main-banner .main-banner-content h5 {
    margin: 0 auto 24px auto;
    /* width: 93.33333333%; */
    /* 560/672 */
  }
  

  
  
  
  .recent-posts {
    margin-top: 50px;
    color: #424242;
    position: relative;
  }
  
  
  .recent-posts-header {
    color: #424242;
    position: relative;
    margin-bottom: 56px;
    text-align: center;
  }

  .recent-posts-header p {
    margin: 24px auto;
    position: relative;
    text-align: center;
  }


  .posts-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .posts-container img {
    display: block;
    opacity: 0.95;
    transition: all 0.1s ease-in-out;
    width: 100%;
    border-radius: 15px;
  }
  .posts-container li {
    align-self: stretch;
    margin: 0 0 88px 0;
    position: relative;
    width: 46.51898734%;
    
    /* 588/1264 */
  }

  


  @keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(16.0deg) }
    20% { transform: rotate(-6.0deg) }
    30% { transform: rotate(16.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(16.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }

  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }


/*-----Work 01-----*/
.work {
  width: 100%;
  position: relative;
  
  /* margin-bottom: 15em; */
}


.work > .workText {
  position: absolute;
  top: 85px;
}


.work > .workBg .workImg{
  float: right;
  scale: 105%;
  -webkit-box-shadow: 0px 3px 20px 0px #c2c2c2;
  -moz-box-shadow: 0px 3px 20px 0px #c2c2c2;
  /* box-shadow: 0px 3px 100px 0px #ededed; */
}

.work > .workBg .workImgFilter{
  float: right;
  scale: 105%;
  filter:  grayscale(100%) opacity(30%);
  -webkit-box-shadow: 0px 3px 20px 0px #c2c2c2;
  -moz-box-shadow: 0px 3px 20px 0px #c2c2c2;
  /* box-shadow: 0px 3px 100px 0px #ededed; */
}

.work > .workBg .centered {
  position: absolute;
  top: 45%;
  left:50%;
  text-align: center;
  /* padding:2px 20px; */
  /* color:#214261 */
  /* background-color: rgba(255,255,255,0.8); */
  transform: translate(-50%, -50%);
  font-family:"Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color:#0069A8;
}



.work > .workBg .explnTxt {
  position: absolute;
  top: 55%;
  left:50%;
  text-align: center;
  /* padding:2px 20px; */
  /* color:#214261 */
  /* background-color: rgba(255,255,255,0.8); */
  transform: translate(-50%, -50%);
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:#0069A8;
}


#myBtn {
  /* display: inline-block; */
  display: none;
  position: fixed;
  /* bottom: 10%; */
  bottom:10%;
  right: 5%;
  background-color: Transparent;
  border: none;
  font-family: popp;
}
.container {div
  position: relative;
}
/*----------onHoverChangeImg----------------*/
/* .work > .workBg img:last-child {display: none}

.work > .workBg:hover img:first-child {display: none}
.work > .workBg:hover img:last-child {display: inline-block} */

.work > .workBg img:nth-child(2) {display: none}
.work > .workBg div:nth-child(3) {display: none}
.work > .workBg div:nth-child(4) {display: none}

.work > .workBg:hover img:nth-child(1) {display: none}
.work > .workBg:hover img:nth-child(2) {display: inline-block}
.work > .workBg:hover div:nth-child(3) {display: inline-block}
.work > .workBg:hover div:nth-child(4) {display: inline-block}

  
  

  
  
  

  

  footer {
    
    background-size: 100%;
    color: #424242;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 12px 6.395348837% 12px;
    /* 88/1376 */
  }
  footer h2 {
    height: 100%;
  }
  
  footer p {
    text-transform: uppercase;
    font: 400 16px;
    letter-spacing: 0.075em;
    line-height: 1.5em;
    flex-shrink: 0;
    font-size: 16px;
    text-align: right;
  }
  
  
  
  
  
  
  .recent-posts-header.blog-posts-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .recent-posts-header.blog-posts-header .blog-follow-links,
  .recent-posts-header.blog-posts-header h1,
  .recent-posts-header.blog-posts-header .blog-search {
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .recent-posts-header .blog-follow-links {
    justify-content: flex-start;
    display: flex;
  }
  .recent-posts-header .blog-follow-links li {
    align-self: flex-start;
  }
  .recent-posts-header  a {
    background: #DBBD7F;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 16px;
    padding: 8px;
    width: 40px;
  }
  .recent-posts-header  a:hover {
    background: #424242;
  }
  .recent-posts-header  img {
    display: inline-block;
    max-height: 20px;
    max-width: 20px;
  }
  .recent-posts-header  .rss-icon {
    max-height: 16px;
  }
  
  
  .button.all-posts {
    background: #DBBD7F;
    display: block;
    margin: 32px auto 64px auto;
  }
  .button.all-posts:hover {
    background: #424242;
  }
  

    .recent-posts-header p {
      width: 75%;
    }
  
    .contact-form .input-group {
      display: block;
    }
    .contact-form .input-group .half {
      width: 100%;
    }
    .contact-form .input-group .half:last-of-type {
      margin: 32px 0 0 0;
    }
  
    .contact-form .wpforms-field.wpforms-one-half {
      width: 100%;
    }
  }
  
  
    .posts-container {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .posts-container li {
      margin: 32px auto;
      max-width: 600px;
      width: 100%;
    }
  
  }
  


  /*-----Global-----*/

.pink {
  color: #F48FB1;
}
.blue {
  color: #039BE5;
}
.green {
  color: #AED581;
}

/*----Nav-----*/
.nav {
  display: flex;
  align-items: center;
  height: 100px;
}




table {
  border-collapse: collapse;
  width: 100%;
  height: 50px;
  text-align: left;
}

th{
  font-size: 20px;
  margin-top: 10px;
  color: #424242;
}

td{
  font-size: 20px;
  margin-top: 10px;
  color: #757575;
}




.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  
  
    footer,
  footer p {
      display: block;
      text-align: center;
      margin-left: 15%;
    margin-right: 15%;
    }
  
    .follow-footer ul {
      margin: 0 auto;
      padding: 0;
      justify-content: center;
    }
  
    footer h2 {
      margin-bottom: 32px;
    }
    footer p br {
      display: none;
    }
  
    /* Blog styles */
    .main-banner.condensed-header header {
      display: block;
      padding-bottom: 16px;
    }
    .main-banner.condensed-header h1 {
      margin-bottom: 0;
    }
  
  
    .recent-posts-header{
      display: block;
      margin-bottom: 16px;
    }
    .recent-posts-header  {
      justify-content: center;
      margin-bottom: 16px;
    }
  
 
  
    .latest-insta,
  .newsletter-signup {
      width: 100%;
    }
  
    .latest-insta {
      margin-bottom: 32px;
    }
  }

  
    .button {
      font-size: 16px;
      padding: 12px 16px;
    }
  
    .main-banner .main-banner-content h1,
  .about-me h1,
  .recent-posts-header h1,
  h1 {
      font-size: 28px;
    }
  
    .main-banner .main-banner-content p,
  .about-me p,
  .recent-posts-header p,
  p,
  .design-talks .events h4 {
      font-size: 18px;
    }
  
    .recent-posts-header a,
  .recent-posts li span,
  h3,
  header .contact-link,
  footer p, {
      font-size: 14px;
    }
  
    .recent-posts h2,
  .social .featured-text p,
  header h1,
  footer h2 {
      font-size: 22px;
    }
  
    .recent-posts li a {
      padding: 24px 24px 72px 24px;
    }
  
    .recent-posts li p {
      font-size: 16px;
    }
  
    .recent-posts li span {
      padding: 16px;
    }
  
    .main-banner {
      padding: 16px 32px 48px 32px;
    }
    .main-banner .main-banner-content p {
      font-size: 18px;
      margin-bottom: 40px;
      width: 100%;
    }
  
    header {
      display: block;
      margin-bottom: 32px;
    }
    header h1 {
      margin-bottom: 12px;
    }
    header .logo-container {
      display: block;
      margin: 0 auto 16px auto;
    }
    header .contact-link {
      padding: 50px;
    
    }

    
  
  }

  .footerIcons a{
    padding-top: 5em;
    margin-bottom: 100px;
    margin: 10px;
}


  /*# sourceMappingURL=style.css.map */
  